
.background {
    width: 100%;
    height: 100vh;
    background: #05abe0;
    background: no-repeat;
    background: linear-gradient(125deg, #05abe0 0%, #3438b1 20%, #311990 50%, #33054c 100%);
    position: relative;
    overflow: hidden;
}

.square {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: rotate(45deg) scale(3);
    right: 0;
    border-radius: 40px;
    display: block;
    background-color: #78b9e2;
    opacity: .1;
    right: -30px;
    bottom: 0;
}

.container {
    max-width: 95% !important;
}

.navbar {
    margin-top: 30px;
}
 ul li a {
    color: #78b9e2 !important;
 }
 ul li a:hover {
    color: white !important;
 }
 .active {
     color: white !important;
 }
.signup {
    border: 1px solid #78b9e2;
    border-radius: 30px;
    margin-left: 0 !important;
}
.nav-item {
    margin: 0 20px 0;
}

.navbar-brand {
    color: #78b9e2 !important;
}

.logo {
    width: 40px;
    height: 40px;
    background: #78b9e2;
    border-radius: 50%;
    margin-left: 20px;
}

h2 {
    color: white;
    border-left: 5px solid white;
    margin-top: 100px;
    padding-left: 30px;
    padding-bottom: 100px;
    width: 400px;
    font-size: 300%;
}
 .text {
    color: #b0ffff;
    width: 230px;
    margin-left: 45px;
    transform: translateY(-50px);
    font-size: 80%; 
 }

 .getstarted {
    color: white;
    font-weight: 100;
    border: 1px solid #78b9e2;
    padding: 10px 40px;
    font-size: 150%;
    
 }
 .getstarted:hover {
    color: #78b9e2;
    text-decoration: none;
    border: 1px solid white;
    
 }

 .slide {
     height: 700px;
 }

 .img {
    position: absolute;
    right: 0;
    transform: translateY(20%);
    height: 600px;
 }
 @media only screen and (max-width: 990px) {
    .img {
        display: none;
    }
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #78b9e2;
}
.carousel-indicators {
    position: absolute;
    left: -1250px;
}